<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <%= link_to "sample app", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar nav">
      <li class="nav-link"><%= link_to "Home", root_path %></li>
      <li class="nav-link"><%= link_to "Help", help_path %></li>
      <li class="nav-link"><%= link_to "Log in", "#" %></li>
    </ul>
  </div>
</nav>